.update{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.update h1{
    font-family: "Oswald", serif;
    text-transform: capitalize;
    font-size: 50px;
}

.update-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 70%;
    /* padding: 16px; */
    padding-top: 16px;
    overflow: scroll;
}

.update-form-skeleton{
    display: flex;
    flex-direction: column;
    /* padding: 16px; */
    padding-top: 16px;
    width: 70%;
    gap: 16px;
}

.update-image-skeleton{
    width: calc(100% - 2px);
    aspect-ratio: 6/4;
    object-fit: contain;
    background: black;
    border-radius: 24px;
    background: linear-gradient(90deg, #f4f4f4 25%, #e0e0e0 50%, #f4f4f4 75%);
    background-size: 200% 100%;
    border: 1px solid #CA3F85;
    animation: shimmer 1.5s infinite linear;
}

.update-input-skeleton{
    border: 1px solid #CA3F85;
    border-radius: 32px;
    height: 53px;
    background: linear-gradient(90deg, #f4f4f4 25%, #e0e0e0 50%, #f4f4f4 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
}

.update-image-section{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.update-image{
    border-radius: 24px;
    border: 1px solid #CA3F85;
    width: calc(100% - 2px);
    aspect-ratio: 6/4;
    object-fit: contain;
    background-color: black;
}

.update-remove{
    display: flex;
    padding: 8px;
    background: white;
    border-radius: 24px;
    border: 1px solid #CA3F85;
    cursor: pointer;
    width: max-content;
    overflow: none;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.update-remove img{
    width: 24px;
    height: 24px;
}

.update-remove:hover{
    animation: rotateIcon 0.6s ease-in-out;
    background: #CA3F85;
}

.update-remove:hover img{
    filter: invert();
}


@media(max-width: 1080px){
    .update-form, .update-form-skeleton{
        width: calc(100% - 32px);
    }
}

@media(max-width: 864px){
    .update{
        width: 100%;
    }

    .update-form, .update-form-skeleton{
        padding: 0;
        width: 100%;
        padding-top: 16px;
    }
}

@media(max-width: 720px){
    .update{
        margin-top: 24px;
        width: 80%;
    }
}

@media(max-width: 468px){
    .update{
        width: 100%;
    }
}