.password{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.password-img-container{
    position: absolute;
    display: grid;
    background: var(--pink);
    border: 1px solid var(--pink);
    border-radius: 50%;
    cursor: pointer;
    place-items: center;
    width: 36px;
    height: 36px;
    right: 8px;
    transition: background 0.3s ease-in-out;
}

.password-img-container:hover{
    background: var(--bg1);
}

.password-img-container:hover img{
    filter: none;
}

.password-img-container img{
    width: 24px;
    height: 24px;
    filter: invert(1);
}