.dashboard{
    display: flex;
    height: 100vh;

}

.sidebar{
    position: fixed;  
    width: 340px;
}

.dashboard-content{
    display: flex;
    width: calc(100% - 372px);
    padding: 16px;
    background: #fce4ef;
    justify-content: center;
    position: relative;
    margin-left: 340px;   
}

.sidebar.collapsed + .dashboard-content{
    margin-left: 56px;
    padding: 16px 158px;
    width: calc(100% - 372px);
}

@media (max-width: 720px){
    .dashboard-content {
        margin-left: 0;
    }
}
