.dashboard{
    display: flex;
    height: 100vh;
}

.dashboard-content{
    display: flex;
    width: 100%;
    height: calc(100vh - 32px);
    padding: 16px;
    background: rgb(245, 232, 232);
    justify-content: center;
}