.login{
    display: flex;
    width: calc(100% - 32px);
    height: calc(100vh - 32px);
    padding: 16px;
    gap: 16px;
    background: var(--bg1)
}

.login-image{
    width: 70%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.login-logo{
    position: absolute;
    top: 32px;
    left: 32px;
    width: 32px;
    height: 32px;
}

.login-contents{
    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.login-contents h1{
    color: var(--pink);
    font-family: "Oswald", serif;
    font-size: 40px;
    width: 80%;
}

.login-contents form{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 16px;
    width: 80%;
}

.login-forgot-password{
    text-decoration: none;
    color: var(--pink);
    font-weight: 600;
    margin-left: 8px;
    margin-left: auto;
    cursor: pointer;
}

.login-forgot-password:hover{
    text-decoration: underline;
}

.login-footer{
    margin-top: 12px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--text2);
}

.login-footer a{
    text-decoration: none;
    color: var(--pink);
    font-weight: 600;
    margin-left: 8px;
}

.login-footer a:hover{
    text-decoration: underline;
}


@media (max-width: 1280px){
    .login-image{ 
        width: 60%; 
    }
    .login-contents{ 
        width: 40%; 
    }
}
    
@media (max-width: 1024px){
    .login-image{ 
        width: 50%; 
    }
    .login-contents{ 
        width: 50%; 
    }
    .login-contents h1, .login-contents form{ 
        width: 90%; 
    }
}
    
@media (max-width: 768px){
    .login-image{
        display: none;
    }
    .login-logo{ 
        top: 16px; 
        left: 16px; 
    }
    .login-contents{ 
        width: 100%; 
        padding: 0; 
    }
    .login-contents h1, .login-contents form{ 
        width: 70%; 
    }
}
    
@media (max-width: 640px){
    .login-contents h1, .login-contents form{ 
        width: 90%; 
    }
}
   
@media (max-width: 480px){
    .login-contents h1, .login-contents form{ 
        width: 100%; 
    }
}