.button{
    padding: 16px;
    font-size: 16px;
    border: 1px solid var(--pink);
    cursor: pointer;
    background: var(--bg1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    transition: background 0.3s ease-in-out;
}

.button-icon-wrapper{
    position: absolute;
    right: 8px;
    width: 36px;
    aspect-ratio: 1/1;
    background: var(--pink);
    border-radius: 50%;
    display: grid;
    place-content: center;
    overflow: hidden;
    border: 1px solid var(--pink);
}

.button-icon-wrapper img{
    width: 24px;
    height: 24px;
    filter: invert();
}

.button.delete{
    background: var(--bg1);
    color: var(--red);
}

.button:hover{
    background: var(--text1);
    color: var(--bg1);
}

.button.delete:hover{
    background: var(--red);
    color: var(--bg1);
}

.button:hover .button-icon-wrapper{
    background: var(--bg1);
}

.button:hover .button-icon-wrapper img{
    filter: none;
}

.button:hover .add-icon{
    animation: rotateIcon 0.6s ease-in-out;
}

.button:hover .edit-icon{
    animation: writing 0.8s ease-in-out;
}

.button:hover .update-icon{
    animation: rotate 0.6s ease-in-out;
}

.button:hover .logout-icon{
    transform: translateX(10px) scale(1.1);
    animation: pulse 1.5s infinite ease-in-out;
}

.button:hover .delete-icon{
    animation:  shakeAndFlip 0.6s ease-in-out;
}