.bornday{
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
}

.bornday h1{
    font-family: "Oswald", serif;
    text-transform: capitalize;
    font-size: 50px;
}

.bornday-div{
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 70%;
    gap: 16px;
}

.bornday-user{
    display: flex;
    padding: 16px;
    border-radius: 24px;
    background: #CA3f85;
    color: white;
}

.bornday-user img{
    width: 40%;
    border-radius: 12px;
}

.bornday-detail{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

.bornday-button{
    padding: 16px;
    font-size: 16px;
    border: 1px solid #CA3f85;
    cursor: pointer;
    background: white;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background 0.3s ease-in-out;
}

.bornday-button.delete{
    color: red;
}

.bornday-confirm-popup{
    padding: 16px;
    border-radius: 16px;
    background: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 10px;
    width: 70%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bornday.blur>*:not(.bornday-confirm-popup) {
    filter: blur(2px);
    pointer-events: none;
}


.bornday-confirm-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bornday-confirm-yes, .bornday-confirm-no{
    padding: 8px 20px;
    border: 1px solid #CA3f85;
    outline: none;
    background: white;
    font-size: 16px;
    border-radius: 24px;
    cursor: pointer;
}

.bornday-confirm-yes{
    color: red;
}

.bornday-confirm-yes:hover{
    color: white;
    background: red;
}

.bornday-confirm-no:hover{
    color: white;
    background: black;
}

.bornday-icon-wrapper{
    position: absolute;
    right: 8px;
    width: 36px;
    height: 36px;
    background: #CA3f85;
    border-radius: 50%;
    display: grid;
    place-content: center;
    border: 1px solid #CA3f85;
    overflow: hidden;
}

.bornday-icon-edit, .bornday-icon-delete{
    width: 24px;
    height: 24px;
    filter: invert();
    transition: transform 0.6s ease-in-out;
}

.bornday-button:hover{
    background: black;
    color: white;
}

.bornday-icon-edit{
    transform-origin: bottom left;
}

.bornday-button:hover .bornday-icon-wrapper{
    background: white;
}

.bornday-button:hover .bornday-icon-edit{
    animation: writing 0.8s ease-in-out;
    filter: none;
}

.bornday-button:hover .bornday-icon-delete{
    animation: shake 0.6s ease-in-out;
    filter: none;
}


@keyframes shake{
    0%{ 
        transform: rotate(0deg) translateY(0); 
    }
    25%{ 
        transform: rotate(-10deg) translateY(-4px); 
    }
    50%{ 
        transform: rotate(10deg) translateY(-6px); 
    }
    75%{ 
        transform: rotate(-5deg) translateY(-3px); 
    }
    100%{ 
        transform: rotate(0deg) translateY(0); 
    }
}

@keyframes writing{
    0% {
        transform: rotate(0deg) translate(0, 0);
    }
    25% {
        transform: rotate(-15deg) translate(10px, 5px);
    }
    50% {
        transform: rotate(-25deg) translate(20px, 10px);
    }
    75% {
        transform: rotate(-35deg) translate(30px, 15px);
    }
    100% {
        transform: rotate(-45deg) translate(40px, 0);
    }
}


@media(max-width: 1080px){
    .bornday-div{
        width: calc(100% - 32px);
    }

    .bornday-confirm-popup{
        width: calc(100% - 32px);
    }
}

@media(max-width: 864px){
    .bornday{
        width: 100%;
    }

    .bornday-div{
        padding: 0;
        width: 100%;
        margin-top: 16px;
    }
}

@media(max-width: 720px){
    .bornday{
        margin-top: 24px;
        width: 80%;
    }
}

@media(max-width: 468px){
    .bornday{
        width: 100%;
    }
}