.calendar{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.calendar h1{
    font-family: "Oswald", serif;
    text-transform: capitalize;
    font-size: 50px;
}

.calendar-details{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 16px;
    background: white;
    border-radius: 16px;
    overflow-y: scroll;
    gap: 16px;
}

.calendar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.calendar-header-icon-wrapper{
    background-color: #ca3f85;
    border: 1px solid #CA3f85;
    color: white;
    display: grid;
    place-content: center;
    border-radius: 50px;
    cursor: pointer;
    padding: 4px;
    overflow: hidden;
    transition: background 0.3s ease;
}

.calendar-left-icon, .calendar-right-icon{
    width: 24px;
    height: 24px;
    filter: invert();
    transition: transform 0.6s ease-in-out;
}

.calendar-header-icon-wrapper:hover{
    background: white;
}

.calendar-header-icon-wrapper:hover .calendar-left-icon{
    animation: slideLeft 0.6s ease-in-out;
    filter: none;
}

.calendar-header-icon-wrapper:hover .calendar-right-icon{
    animation: slideRight 0.6s ease-in-out;
    filter: none;
}

@keyframes slideLeft{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-100%);
        opacity: 0;
    }
    51%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(100%);
        opacity: 0;
    }
    51%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

hr{
    border: none;
    height: 1px;
    background: #CA3f85;
}

.calendar-grid {
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    width: 100%;
    text-align: center;
    overflow: scroll;
    padding-bottom: 1px;
}

.calendar-day-header{
    font-weight: bold;
    padding: 8px 0;
}

.calendar-day, .calendar-empty {
    aspect-ratio: 1 / 1;
    background: white;
    border: 1px solid #ddd;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease;
    position: relative;
    display: grid;
    place-content: center;
    padding: 16px;
}

.calendar-empty{
    background: #ddd;
    cursor: auto;
}

.calendar-day:hover {
    background-color: #fce4ef;
}


.calendar-day.has-bornday {
    background: #ca3f85;
    color: white;
}

.calendar-day.selected {
    background-color: black;
    color: white;
}

.calendar-bornday-details{
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
}

.calendar-bornday-header{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

.calendar-bornday-items{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 122px;
    overflow: scroll;
    padding-bottom: 1px;
}

.calendar-bornday-items:not(:empty){
    margin-top: 16px;
}

.calendar-bornday-item{
    display: flex;
    padding: 16px;
    justify-content: space-between;
    border: 1px solid #CA3F85;
    border-radius: 50px;
    gap: 16px;
    position: relative;
    align-items: center;
    cursor: pointer;
    background: #fff;
    transition: background 0.3s ease-in-out;
}

.calendar-bornday-item:hover{
    background: #000;
    color: #fff;
}

.calendar-bornday-item-content{
    display: flex;
    width: 100%;
    gap: 16px;
    font-size: 16px;
}

.calendar-bornday-buttons{
    display: flex;
    gap: 8px;
    width: fit-content;
    position: absolute;
    right: 8px;
}

.calendar-bornday-icon-wrapper{
    width: 36px;
    height: 36px;
    background: #CA3F85;
    border-radius: 50%;
    display: grid;
    place-content: center;
    outline: none;
    border: none;
    overflow: hidden;
    cursor: pointer;
    transition: background 0.3s ease;
    border: 1px solid #CA3F85;
}

.calendar-bornday-edit-icon, 
.calendar-bornday-delete-icon, 
.calendar-bornday-left-icon, 
.calendar-bornday-right-icon{
    width: 24px;
    height: 24px;
    filter: invert();
    transition: transform 0.6s ease-in-out;
}

.calendar-bornday-edit-icon{
    transform-origin: bottom left;
}

.calendar-bornday-icon-wrapper:hover{
    background: #fff;
}

.calendar-bornday-icon-wrapper:hover .calendar-bornday-edit-icon{
    animation: writing 0.8s ease-in-out;
    filter: none;
}

.calendar-bornday-icon-wrapper:hover .calendar-bornday-delete-icon{
    animation: shakeAndFlip 0.6s ease-in-out;
    filter: none;
}

.calendar-bornday-icon-wrapper:hover .calendar-bornday-left-icon{
    animation: slideLeft 0.6s ease-in-out;
    filter: none;
}

.calendar-bornday-icon-wrapper:hover .calendar-bornday-right-icon{
    animation: slideRight 0.6s ease-in-out;
    filter: none;
}

@keyframes slideLeft{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-100%);
        opacity: 0;
    }
    51%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(100%);
        opacity: 0;
    }
    51%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes shakeAndFlip{
    0%{ 
        transform: rotate(0deg) translateY(0); 
    }
    25%{ 
        transform: rotate(-10deg) translateY(-4px); 
    }
    50%{ 
        transform: rotate(10deg) translateY(-6px); 
    }
    75%{ 
        transform: rotate(-5deg) translateY(-3px); 
    }
    100%{ 
        transform: rotate(0deg) translateY(0); 
    }
}

@keyframes writing{
    0% {
        transform: rotate(0deg) translate(0, 0);
    }
    25% {
        transform: rotate(-15deg) translate(10px, 5px);
    }
    50% {
        transform: rotate(-25deg) translate(20px, 10px);
    }
    75% {
        transform: rotate(-35deg) translate(30px, 15px);
    }
    100% {
        transform: rotate(-45deg) translate(40px, 0);
    }
}


.calendar-bornday-add{
    padding: 16px;
    font-size: 16px;
    border: 1px solid #CA3f85;
    cursor: pointer;
    background: white;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    transition: background 0.3s ease-in-out;
}

.calendar-bornday-button-icon-wrapper{
    position: absolute;
    right: 8px;
    width: 36px;
    height: 36px;
    background: #CA3f85;
    border-radius: 50%;
    display: grid;
    place-content: center;
    outline: none;
    border: 1px solid #CA3F85;
    overflow: hidden;
}

.calendar-bornday-add-icon{
    width: 24px;
    height: 24px;
    transition: transform 0.6s ease-in-out;
    filter: invert(1);
}

.calendar-bornday-add:hover{
    background: #000;
    color: #fff;
}

.calendar-bornday-add:hover .calendar-bornday-button-icon-wrapper{
    background: #fff;
}

.calendar-bornday-add:hover .calendar-bornday-add-icon{
    animation: rotateIcon 0.6s ease-in-out;
    filter: none;
}

@keyframes rotateIcon {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(90deg);
    }
}

@media(max-width: 1080px){
    .calendar-details{
        width: calc(100% - 32px);
    }
}

@media(max-width: 864px){
    .calendar{
        width: 100%;
    }


    .calendar-details{
        padding: 16px;
        width: calc(100% - 32px);
    }
}


@media(max-width: 720px){
    .calendar{
        margin-top: 24px;
        width: 80%;
    }

    .dashboard-content{
        width: 100%;
    }

    .calendar-details{
        padding: 16px;
    }
}

@media(max-width: 468px){
    .calendar{
        width: 100%;
        padding: 0;
    }

    .dashboard-content{
        width: calc(100% - 32px);
    }

    .calendar-details{
        width: calc(100% - 32px);
        padding: 16px;
    }

    .calendar-add{
        justify-content: flex-start;
    }
}