.borndays{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.borndays h1{
    font-family: "Oswald", serif;
    text-transform: capitalize;
    font-size: 50px;
}

.borndays-items{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 70%;
    padding: 16px;
    overflow: scroll;
}

.borndays-item{
    display: flex;
    padding: 16px;
    justify-content: space-between;
    border: 1px solid #CA3F85;
    border-radius: 50px;
    gap: 16px;
    position: relative;
    align-items: center;
    cursor: pointer;
    background: #fff;
    transition: background 0.3s ease-in-out;
}

.borndays-item:hover{
    background: #000;
    color: #fff;
}

.borndays-item-content{
    display: flex;
    width: 100%;
    gap: 16px;
    font-size: 16px;
}

.borndays-buttons{
    display: flex;
    gap: 8px;
    width: fit-content;
    position: absolute;
    right: 8px;
}

.borndays-icon-wrapper{
    width: 36px;
    height: 36px;
    background: #CA3F85;
    border-radius: 50%;
    display: grid;
    place-content: center;
    outline: none;
    border: none;
    overflow: hidden;
    cursor: pointer;
    transition: background 0.3s ease;
    border: 1px solid #CA3F85;
}

.borndays-icon-edit, .borndays-icon-delete, .borndays-icon-left, .borndays-icon-right{
    width: 24px;
    height: 24px;
    filter: invert();
    transition: transform 0.6s ease-in-out;
}

.borndays-icon-edit{
    transform-origin: bottom left;
}

.borndays-icon-wrapper:hover{
    background: #fff;
}

.borndays-icon-wrapper:hover .borndays-icon-edit{
    animation: writing 0.8s ease-in-out;
    filter: none;
}

.borndays-icon-wrapper:hover .borndays-icon-delete{
    animation: shakeAndFlip 0.6s ease-in-out;
    filter: none;
}

.borndays-icon-wrapper:hover .borndays-icon-left{
    animation: slideLeft 0.6s ease-in-out;
    filter: none;
}

.borndays-icon-wrapper:hover .borndays-icon-right{
    animation: slideRight 0.6s ease-in-out;
    filter: none;
}

@keyframes slideLeft{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-100%);
        opacity: 0;
    }
    51%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(100%);
        opacity: 0;
    }
    51%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes shakeAndFlip{
    0%{ 
        transform: rotate(0deg) translateY(0); 
    }
    25%{ 
        transform: rotate(-10deg) translateY(-4px); 
    }
    50%{ 
        transform: rotate(10deg) translateY(-6px); 
    }
    75%{ 
        transform: rotate(-5deg) translateY(-3px); 
    }
    100%{ 
        transform: rotate(0deg) translateY(0); 
    }
}

@keyframes writing{
    0% {
        transform: rotate(0deg) translate(0, 0);
    }
    25% {
        transform: rotate(-15deg) translate(10px, 5px);
    }
    50% {
        transform: rotate(-25deg) translate(20px, 10px);
    }
    75% {
        transform: rotate(-35deg) translate(30px, 15px);
    }
    100% {
        transform: rotate(-45deg) translate(40px, 0);
    }
}

@media(max-width: 1080px){
    .borndays-items{
        width: calc(100% - 32px);
    }
}

@media(max-width: 864px){
    .borndays{
        width: 100%;
        /* padding: 16px; */
    }

    .borndays-items{
        padding: 0;
        width: 100%;
    }
}

@media(max-width: 720px){
    .borndays{
        margin-top: 24px;
        width: 80%;
    }

    .borndays-items{
        padding: 0;
    }
}

@media(max-width: 468px){
    .borndays{
        width: 100%;
    }

    .borndays-items{
        width: 100%;
    }
}