.bornday{
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
}

.bornday h1{
    font-family: "Oswald", serif;
    text-transform: capitalize;
    font-size: 50px;
}

.bornday-user, .bornday-user-skeleton{
    display: flex;
    /* padding: 16px; */
    /* gap: 16px; */
    width: 100%;
    border-radius: 24px;
    color: #CA3f85;
    /* background: white; */
    flex-direction: column;
}

.bornday-user-skeleton{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 16px;
    padding-top: 16px;
}

.hidden {
    display: none; 
}

.bornday-detail-skeleton{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.bornday-detail-skeleton p {
    border-radius: 4px;
    background: linear-gradient(90deg, #f4f4f4 25%, #e0e0e0 50%, #f4f4f4 75%);
    background-size: 200% 100%;
    display: flex;
    animation: shimmer 1.5s infinite linear;
    width: calc(100% - 2px);
    /* padding: 16px; */
    border: 1px solid #CA3F85;
    border-radius: 32px;
    height: 51px;
}

/* .bornday-detail-skeleton h2{
    height: 29px;
}

.bornday-detail-skeleton h4{
    height: 19px;
} */

.bornday-div{
    display: flex;
    flex-direction: column;
    /* padding: 16px; */
    padding-top: 16px;
    width: 70%;
    gap: 16px;
}

.bornday-div p{
    padding: 16px;
    border-radius: 32px;
    background-color: white;
    border: 1px solid #CA3F85;
}

.bornday-user img, .bornday-image-skeleton{
    width: calc(100% - 2px);
    aspect-ratio: 6/4;
    object-fit: contain;
    background: black;
    border-radius: 24px;
    border: 1px solid #CA3F85;
}

.bornday-image-skeleton{
    background: linear-gradient(90deg, #f4f4f4 25%, #e0e0e0 50%, #f4f4f4 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
}

.bornday-detail{
    display: flex;
    width: calc(60% - 32px);
    flex-direction: column;
    gap: 16px;
}

.bornday-detail h2{
    text-overflow: ellipsis;
    overflow: hidden;
}

.bornday.blur>*:not(.confirmPopup) {
    filter: blur(2px);
    pointer-events: none;
}

@media(max-width: 1080px){
    .bornday-div, .bornday-user-skeleton{
        width: calc(100% - 32px);
    }
}

@media(max-width: 864px){
    .bornday{
        width: 100%;
    }

    .bornday-div, .bornday-user-skeleton{
        padding: 0;
        width: 100%;
        margin-top: 16px;
    }
}

@media(max-width: 720px){
    .bornday{
        margin-top: 24px;
        width: 80%;
    }
}

@media(max-width: 468px){
    .bornday{
        width: 100%;
    }

    .bornday-user, .bornday-user-skeleton{
        padding: 0;
        /* gap: 0; */
    }

    .bornday-user img, .bornday-image-skeleton{
        border-radius: 23px;
    }

    .bornday-detail{
        width: calc(100% - 32px);
        padding: 16px;
    }
}