.borndays{
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
}

.borndays h1{
    font-family: "Oswald", serif;
    text-transform: capitalize;
    font-size: 50px;
}

.borndays-items{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 70%;
    padding: 16px;
    overflow: scroll;
}

.borndays.blur>*:not(.confirmPopup) {
    filter: blur(2px);
    pointer-events: none;
}

@media(max-width: 1080px){
    .borndays-items{
        width: calc(100% - 32px);
    }
}

@media(max-width: 864px){
    .borndays{
        width: 100%;
    }

    .borndays-items{
        padding: 0;
        width: 100%;
        margin-top: 16px;
    }
}

@media(max-width: 720px){
    .borndays{
        margin-top: 24px;
        width: 80%;
    }
}

@media(max-width: 468px){
    .borndays{
        width: 100%;
    }
}