.add{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.add h1{
    font-family: "Oswald", serif;
    text-transform: capitalize;
    font-size: 50px;
}

.add-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 70%;
    padding: 16px;
}

@media(max-width: 1080px){
    .add-form{
        width: calc(100% - 32px);
    }
}

@media(max-width: 864px){
    .add{
        width: 100%;
    }

    .add-form{
        padding: 0;
        width: 100%;
        margin-top: 16px;
    }
}

@media(max-width: 720px){
    .add{
        margin-top: 24px;
        width: 80%;
    }
}

@media(max-width: 468px){
    .add{
        width: 100%;
    }
}