.verification{
    display: flex;
    padding: 16px;
    width: calc(100% - 32px);
    height: calc(100vh - 32px);
    gap: 16px;
}

.verification-image{
    width: 70%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.verification-logo{
    position: absolute;
    top: 32px;
    left: 32px;
    width: 32px;
    height: 32px;
}

.verification-contents{
    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.verification-contents h1{
    color: var(--pink);
    font-family: "Oswald", serif;
    font-size: 40px;
    width: 80%;
}

.verification-contents form{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 16px;
    width: 80%;
}

@media (max-width: 1280px){
    .verification-image{ 
        width: 60%; 
    }
    .verification-contents{ 
        width: 40%; 
    }
}
    
@media (max-width: 1024px){
    .verification-image{ 
        width: 50%; 
    }
    .verification-contents{ 
        width: 50%; 
    }
    .verification-contents h1, .verification-contents form{ 
        width: 90%; 
    }
}
    
@media (max-width: 768px){
    .verification-image{
        display: none;
    }
    .verification-logo{ 
        top: 16px; 
        left: 16px; 
    }
    .verification-contents{ 
        width: 100%; 
        padding: 0; 
    }
    .verification-contents h1, .verification-contents form{ 
        width: 70%; 
    }
}
    
@media (max-width: 640px){
    .verification-contents h1, .verification-contents form{ 
        width: 90%; 
    }
}
   
@media (max-width: 480px){
    .verification-contents h1, .verification-contents form{ 
        width: 100%; 
    }
}