.account{
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
}

.account h1{
    font-family: "Oswald", serif;
    text-transform: capitalize;
    font-size: 50px;
}

.account-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    /* padding: 16px; */
    padding-top: 16px;
    gap: 16px;
}

.account.blur>*:not(.confirmPopup) {
    filter: blur(2px);
    pointer-events: none;
}

@media(max-width: 1080px){
    .account-form, .account-buttons{
        width: calc(100% - 32px);
    }
}

@media(max-width: 864px){
    .account{
        width: 100%;
    }

    .account-form, .account-buttons{
        padding: 0;
        width: 100%;
    }

    .account-form{
        margin-top: 16px;
    }
}

@media(max-width: 720px){
    .account{
        margin-top: 24px;
        width: 80%;
    }
}

@media(max-width: 468px){
    .account{
        width: 100%;
    }
}