.sidebar{
    display: flex;
    flex-direction: column;
    min-width: 56px;
    overflow: hidden;
    background: #fff;
    height: 100vh;
    z-index: 1;
    position: fixed;
}

.sidebar.collapsed{
    width: 56px;
}

.sidebar.hidden {
    display: none;
}

.sidebar-toggle{
    display: flex;
    align-items: center;
    position: fixed;
    top: 16px;
    left: 16px;
    cursor: pointer;
    z-index: 2;
}

.sidebar-toggle img{
    width: 24px;
    height: 24px;
}

.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    gap: 16px;
    cursor: pointer;
}

.sidebar-header h1{
    text-transform: capitalize;
    font-family: "Oswald", serif;
}

.sidebar-header img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.sidebar-menu, .sidebar-footer{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    cursor: pointer;
    white-space: nowrap;
}

.sidebar.collapsed a{
    display: none;
}

.sidebar.collapsed .sidebar-menus{
    margin-top: 24px;
}

.sidebar-menu:hover, .sidebar-footer:hover{
    background: #CA3F85;
    color: white;
}

.sidebar-icon-add, .sidebar-icon-month, .sidebar-icon-bornday, .sidebar-icon-option{
    width: 24px;
    height: 24px;
    margin: 0;
}


.sidebar-menu:hover .sidebar-icon-add,
.sidebar-menu:hover .sidebar-icon-bornday,
.sidebar-menu:hover .sidebar-icon-month{
    filter: invert();
    animation: vibrate 0.1s ease-in-out infinite alternate;
}

.sidebar-footer{
    margin-top: auto;
}

.sidebar-footer:hover .sidebar-icon-option{
    filter: invert();
    animation: rotate 1s linear infinite;
}

@keyframes vibrate{
    0%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }    
}

@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

@media (min-width: 720px) {
    .sidebar {
        position: relative;
        transform: translateX(0);
    }
    
    .toggle-btn {
        display: none;
    }
}
